.container {
  background-image: url('./../../../../public/img/background.jpg');
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;

  .title {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
  }

  .start {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
  }
}