@import './../../../styles/settings.scss';

.thumbnaill {
  background-color: $color-one;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $color-two;

  .icon {
    font-size: 60px;
    margin-top: 20px;
    z-index: -1;
    color: $color-two;
  }
}